body{
  background-color: #E5BACE;
}

.toper {
  background-color:White;
  height: 500px;
  width: 112%;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 20px;
}

header{
  background-color: #659DBD;
  display: block;
  padding: 18px 0 30px;
  width: 112%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-1 {
  background-color: #f1f1a1;
  padding: 50px;
  height: 300px;
  flex: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.flex-item-2 {
  background-color: #f1f1a1;
  padding: 50px;
  flex: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.flex-item-3 {
  background-color: #f1f1a1;
  padding: 50px;
  flex: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.flex-item-4 {
  background-color: #f1f1a1;
  padding: 50px;
  flex: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.flex-item-5 {
  background-color: #f1f1a1;
  padding: 50px;
  flex: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.flex-item-6 {
  background-color: #f1f1a1;
  padding: 50px;
  flex: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

footer{
  margin-top:600px;
  background-color: #659DBD;
  display: block;
  padding: 18px 0 30px;
  width: 112%;
}
